<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- <script src="js/vue.min.js"></script> -->
    <!-- <script src="js/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>Bookshelf</h1>

        <label>찾기</label>:<input v-model="searchKeyword" @keyup.enter="search()" /><button @click="search()">검색</button>

        <table>
            <thead>
                <tr>
                    <th @click="changeOrder()"><a href="javascript:">순번</a></th>
                    <th>책이름</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>ISBN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <template v-for="(b, i) in books">
                    <tr>
                        <td>{{b.idx}}</td>
                        <td>{{b.name}}</td>
                        <td>{{b.author}}</td>
                        <td>{{b.price}}</td>
                        <td>{{b.isbn}}</td>
                        <td><button @click="deleteData(b.idx)">삭제</button></td>
                    </tr>
                </template>
            </tbody>
        </table>

        <hr />
        <template v-for="i in page.total">
            <template v-if="i == page.current">
                &nbsp;<span><b>{{i}}</b></span>&nbsp;
            </template>
            <template v-else>
                &nbsp;<a href="javascript:" @click="movePage(i)">{{i}}</a>&nbsp;
            </template>
        </template>


    </div>
</body>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            restURI: "http://localhost:2918",
            page: {
                current: 1,
                total: 1,
                countPerPage: 3,
                order: "desc",
            },
            books: [{
                idx: 99,
                name: "책제목",
                author: "작가님",
                price: 12345,
                isbn: 1111111111113,
            }],
            searchKeyword: "",
        },
        mounted() {
            this.initData()
        },
        methods: {
            initData() {
                this.getData()
            },
            async getTotalPage() {
                let keywords = []
                if (this.searchKeyword != "") {
                    keywords.push(
                        { "name": this.searchKeyword },
                        { "author": this.searchKeyword },
                    )
                }

                let response = await fetch(this.restURI + "/total-page", {
                    method: "POST",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "count": 3
                        }
                    })
                })
                if (response.ok) {
                    r = await response.json()
                    this.page.total = r["total-page"]
                }
            },
            async getData() {
                this.getTotalPage()

                let keywords = []
                if (this.searchKeyword != "") {
                    keywords.push(
                        { "name": this.searchKeyword },
                        { "author": this.searchKeyword },
                    )
                }

                // let response = await fetch(this.restURI + "/books", { method: "GET" })
                // if (response.ok) { this.books = await response.json() }
                let response = await fetch(this.restURI + "/books", {
                    method: "POST",
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        "keywords": keywords,
                        "options": {
                            "page": this.page.current - 1,
                            "count": this.page.countPerPage,
                            "order": this.page.order,
                        }
                    })
                })
                if (response.ok) {
                    this.books = await response.json()
                }
            },
            async deleteData(idx) {
                let response = await fetch(this.restURI + "/book/" + idx, { method: "DELETE" })
                if (response.ok) {
                    this.getData()
                }
            },
            movePage(page) {
                // page 1 = idx 0
                this.page.current = page
                this.getData()

                return false
            },
            changeOrder() {
                if (this.page.order == "asc") {
                    this.page.order = "desc"
                } else if (this.page.order == "desc") {
                    this.page.order = "asc"
                }
                this.getData()
            },
            search() {
                this.page.current = 1
                this.getData()
            }
        }
    })
</script>

</html>